@import "../App.less";

.page {
  padding: 1rem;
  font-size: 90%;
  max-width: @screen-sm;
  margin: 0 auto;
  text-align: left;

  h4 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  p {
    margin-bottom: 10px;
  }
}
