<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1">

	<title>{{__ 'Treatya -- 3D Secure'}}</title>

	<link rel='stylesheet' href='/stylesheets/style.css'/>

	<style>
	.ant-spin {
		color: #56c8be;
		vertical-align: middle;
		text-align: center;
		opacity: 0;
		position: absolute;
		-webkit-transition: -webkit-transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
		transition: -webkit-transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
		transition: transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86), -webkit-transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
		font-size: 16px;
		display: none;
	}
	.ant-spin-spinning {
		opacity: 1;
		position: static;
		display: inline-block;
	}
	.ant-spin-nested-loading {
		position: relative;
	}
	.ant-spin-nested-loading > div > .ant-spin {
		position: absolute;
		height: 100%;
		width: 100%;
		z-index: 4;
	}
	.ant-spin-nested-loading > div > .ant-spin .ant-spin-dot {
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -10px;
	}
	.ant-spin-nested-loading > div > .ant-spin .ant-spin-text {
		position: absolute;
		top: 50%;
		width: 100%;
		padding-top: 6px;
	}
	.ant-spin-nested-loading > div > .ant-spin.ant-spin-show-text .ant-spin-dot {
		margin-top: -20px;
	}
	.ant-spin-nested-loading > div > .ant-spin-sm .ant-spin-dot {
		margin: -7px;
	}
	.ant-spin-nested-loading > div > .ant-spin-sm .ant-spin-text {
		padding-top: 3px;
	}
	.ant-spin-nested-loading > div > .ant-spin-sm.ant-spin-show-text .ant-spin-dot {
		margin-top: -17px;
	}
	.ant-spin-nested-loading > div > .ant-spin-lg .ant-spin-dot {
		margin: -16px;
	}
	.ant-spin-nested-loading > div > .ant-spin-lg .ant-spin-text {
		padding-top: 12px;
	}
	.ant-spin-nested-loading > div > .ant-spin-lg.ant-spin-show-text .ant-spin-dot {
		margin-top: -26px;
	}
	.ant-spin-container {
		-webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
		transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
		position: relative;
	}
	.ant-spin-blur {
		opacity: 0.7;
		-webkit-filter: blur(0.8px);
		filter: blur(0.8px);
		/* autoprefixer: off */
		filter: progid\:DXImageTransform\.Microsoft\.Blur(PixelRadius\=1, MakeShadow\=false);
		/* autoprefixer: on */
		-webkit-transform: translateZ(0);
	}
	.ant-spin-blur:after {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background: #fff;
		opacity: 0.2;
		-webkit-transition: all .3s;
		transition: all .3s;
	}
	.ant-spin-tip {
		color: rgba(0, 0, 0, 0.43);
	}
	.ant-spin-dot {
		position: relative;
		display: block;
		width: 20px;
		height: 20px;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
		-webkit-animation: antRotate 2s infinite linear;
		animation: antRotate 2s infinite linear;
	}
	.ant-spin-dot i {
		width: 9px;
		height: 9px;
		border-radius: 100%;
		background-color: #56c8be;
		-webkit-transform: scale(0.6);
		-ms-transform: scale(0.6);
		transform: scale(0.6);
		display: block;
		position: absolute;
		opacity: 0.3;
		-webkit-animation: antSpinMove 1s infinite linear alternate;
		animation: antSpinMove 1s infinite linear alternate;
		-webkit-transform-origin: 50% 50%;
		-ms-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
	}
	.ant-spin-dot i:nth-child(1) {
		left: 0;
		top: 0;
	}
	.ant-spin-dot i:nth-child(2) {
		right: 0;
		top: 0;
		-webkit-animation-delay: 0.4s;
		animation-delay: 0.4s;
	}
	.ant-spin-dot i:nth-child(3) {
		right: 0;
		bottom: 0;
		-webkit-animation-delay: 0.8s;
		animation-delay: 0.8s;
	}
	.ant-spin-dot i:nth-child(4) {
		left: 0;
		bottom: 0;
		-webkit-animation-delay: 1.2s;
		animation-delay: 1.2s;
	}
	.ant-spin-sm .ant-spin-dot {
		width: 14px;
		height: 14px;
	}
	.ant-spin-sm .ant-spin-dot i {
		width: 6px;
		height: 6px;
	}
	.ant-spin-lg .ant-spin-dot {
		width: 32px;
		height: 32px;
	}
	.ant-spin-lg .ant-spin-dot i {
		width: 14px;
		height: 14px;
	}
	.ant-spin.ant-spin-show-text .ant-spin-text {
		display: block;
	}
	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		/* IE10+ */
		.ant-spin-blur {
			background: #fff;
			opacity: 0.5;
		}
	}
	@-webkit-keyframes antSpinMove {
		to {
			-webkit-transform: scale(0.9);
			transform: scale(0.9);
			opacity: 1;
		}
	}
	@keyframes antSpinMove {
		to {
			-webkit-transform: scale(0.9);
			transform: scale(0.9);
			opacity: 1;
		}
	}
	@-webkit-keyframes antRotate {
		to {
			-webkit-transform: rotate(405deg);
			transform: rotate(405deg);
		}
	}
	@keyframes antRotate {
		to {
			-webkit-transform: rotate(405deg);
			transform: rotate(405deg);
		}
	}
</style>

</head>

<body>
<div class="window">
	<div class="box">
		<div class="inner">
			<div class="ant-spin ant-spin-lg ant-spin-spinning">
				<span class="ant-spin-dot">
					<i></i><i></i><i></i><i></i>
				</span>
			</div>
		</div>
	</div>
</div>
</body>
</html>
