<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1">

	<title>{{__ 'E-mail Verification Successful'}}</title>

	<link rel='stylesheet' href='/stylesheets/style.css'/>
	<script type="text/javascript">
		document.addEventListener( 'DOMContentLoaded', function() {
			var cookieName = 'email-verified';
			var cookieValue = '1';
			var myDate = new Date();
			myDate.setMonth( myDate.getMonth() + 1 );
			document.cookie = cookieName + "=" + cookieValue + ";expires=" + myDate
					+ ";domain=.treatya.com;path=/";
		} );
	</script>
</head>

<body>
<div class="window">
	<div class="box">
		<div class="inner">
			<img src="https://s3.eu-central-1.amazonaws.com/treatya-promo/logo-aux.png" width="250" role="presentation"/>
			<h1>{{__ 'E-mail Verification Successful'}}</h1>
			{{__ 'If your Treatya app does not update, please reload the page.'}}
			<h2>{{__ 'Please close this window now!'}}</h2>
		</div>
	</div>
</div>
</body>
</html>
