@import "../Style.less";

.admin-users {
  i {
    font-size: 18px;

    &.anticon-question-circle {
      color: @warning-color;
    }
    &.anticon-check-circle {
      color: @success-color;
    }
    &.anticon-close-circle {
      color: @error-color;
    }
  }

  .col-supplier {
    text-align: center;
  }

  .red7 {
    color: @red-7;
  }

  .green7 {
    color: @green-7;
  }

  .disabled {
    color: @grey-6;
  }
}

.admin-stripe {
  .function {
    padding: 1rem;
  }

  .function > * {
    margin-top: 1rem;
  }
}
