@import "../App.less";

i.favourite {
    color: @text-color-secondary;
    cursor: pointer;
    margin-left: 6px;
    text-shadow: 0 0 8px #fff;
}

i.not-favourite {
    color: @text-color-secondary;
    cursor: pointer;
    margin-left: 6px;
    opacity: 0.3;
}
