@import "../App.less";

.supplier-card {
  margin-bottom: 2rem;
  border: 1px solid @border-color-base;

  .card-info {
    padding: 20px 1rem 1rem 1rem;
    text-align: left;
  }

  h2,h3 {
    font-family: helvetica, arial, sans-serif;
    text-transform: uppercase;
    margin-bottom: -3px;
  }

  .supplier-descr {
    margin-bottom: 1rem;
    font-size: 90%;
  }

  .available {
    font-weight: bold;
    .time {
      text-transform: capitalize;
    }
  }

  .supplier-product {
    font-size: 90%;
    position: relative;
    .title {
      font-size: 120%;
      font-weight: 700;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      font-family: 'Source Serif Pro', times, serif;
    }

    .price {
      font-weight: 500;
      font-size: 150%;
    }

    .currency {
      font-size: 90%;
      margin-right: 2px;
    }

    .duration {
      display: block;
      font-size: 90%;
    }

    .price-block {
      margin-top: 10px;
      width: 100%;
    }

    button {
      margin-top: 8px;
      width: 100%;
    }
  }
}
