@import "../App.less";

.supplier {
  table,
  .supplier-descr {
    text-align: left;
    margin-bottom: 1rem;
  }

  .images {
    .background-image {
      height: 240px;
    }
  }

  table {
    margin-top: 1rem;
  }

  .card-info {
    text-align: left;
  }

  .supplier-product {
    > .ant-row-flex > div {
      margin-bottom: 6px;
    }
  }

  .review-date {
    font-size: 90%;
    transform: translateY(4px);
    display: inline-block;
    margin-left: 6px;
  }

  h2, h3 {
    font-family: helvetica, arial, sans-serif;
    text-transform: uppercase;
    margin-top: 10px;
  }

  .title i {
    margin-left: 6px;
  }

  tr.selected {
    background-color: @cyan-1;
  }

  .product-table {
    width: 100%;
    .title {
    }
    .prod-title {
      font-weight: 600;
      @media (max-width: @screen-sm) {
        text-align: center;
      }
    }
    .prod-descr {
      font-size: 14px;
      word-break: initial;
      @media (min-width: @screen-sm) {
        padding-right: 12px;
      }
    }
    .duration {
      min-width: 100px;
      vertical-align: top;
    }
    .currency {
      font-size: 14px;
      margin-left: 2px;
    }
    .databox {
      text-align: right;
      @media (max-width: @screen-sm) {
        text-align: center;
        background-color: @grey-2;
        padding: 4px;
        margin-top: 6px;
        margin-bottom: 6px;
      }
    }
  }
  .ant-tabs {
    margin-top: 4px;
  }
  .ant-rate {
    margin-bottom: 1rem;
  }
  .button-prel {
    background-color: @orange-4;
    border-color: @orange-4;
    &:hover {
      background-color: @orange-3;
      border-color: @orange-3;
    }
  }
}
