@import "../App";

.login-widget {
  max-width: @screen-sm;
  margin: 1rem auto;
  @media (max-width: @screen-md) {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.login-form input {
  margin-bottom: 0.5rem;
}

.login-form button {
  width: 100%;
}

.login-form-forgot {
  float: right;
}

.float-left {
  float: left;
}

.spinner {
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

/* For Registration.js */
div#agreement {
  line-height: 1.1;
  text-align: center;
  margin-bottom: 10px;
}

.supplier-promo {
  max-width: @screen-md;
  width: 90%;
  margin: 0 auto 2rem;
  border-radius: @border-radius-base;
  background-color: @text-color-secondary;
  color: @component-background;
  padding: 1rem 2rem;

  h1 {
    color: @component-background;
    line-height: 1.2;
    margin-bottom: 1rem;
  }
}
