@import "../App";

.product-forms {
    margin-top: 1rem;
}

.profile .tab-pane > div.product-forms {
    padding-bottom: 1rem;
}

form.product {
    border: 1px solid @grey-7;
    border-radius: @border-radius-base;
    padding: 0 16px 0;
    background-color: @grey-5;
    margin-bottom: 2rem;
}
