@import "../App.less";

.profile {
  max-width: @screen-lg;
  text-align: left;
  margin: 0 auto;

  .profile-collapse {
    background: #f7f7f7;
    border-radius: @border-radius-base;
    margin-bottom: 1rem;
    border: 1px solid #aaa;
  }
}

.supplier-application {
  padding: 1rem;
}

.supplier-pane {
  margin-top: 1rem;
}

.maybe-rotated {
  .ant-upload {
    overflow: hidden;
  }
}
