@import "../App.less";

.supplier-application {
  max-width: @screen-md;
  margin: 1rem auto;
  text-align: left;
  .instructions {
    border-bottom: 1px solid @border-color-base;
    margin-bottom: 2rem;
  }
  @media (max-width: @screen-lg) {
    margin: 1rem auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.registration {
  max-width: @screen-sm;
  margin: 1rem auto;
  text-align: left;
  @media (max-width: @screen-md) {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
