@import "../App.less";

.supplier-registration-steps {

  padding: 1rem 1rem 0 1rem;
  .supplier-guide {
    margin-top: 1rem;
  }

  .ant-steps {
    transition: max-height .5s cubic-bezier(0.78, 0.14, 0.15, 0.86);
    overflow: hidden;

    &.show {
      max-height: 200px;
    }

    &.hide {
      max-height: 0;
    }
  }

  .ant-steps-item-title {
    font-size: 14px;
    color: @text-color !important;
  }

  .ant-steps-item-description {
    font-size: 12px;
    color: @text-color !important;
    white-space: normal;
    padding-right: 2rem;
  }
}
