@import "../App.less";

.booking-overview {
  padding: 1rem;

  .bookings-table {
    text-align: left;
    .date-friendly {
      margin-right: 10px;
    }
  }

  .ant-row-flex > div {
    cursor: pointer;
  }

  .booking {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid @border-color-base;
    @media (max-width: @screen-sm) {
      border: 1px solid @border-color-base;
      box-shadow: 0 0 9px @border-color-base;
      margin-bottom: 1rem;
      border-radius: 3px;
      padding: 10px;
    }
  }

  h2 {
    border-bottom: 1px solid @border-color-base;
    margin-top: 1rem;
  }

  .export-buttons-small {
    margin: 0;
    button {
      margin: 0 0 0 4px;
      padding: 0 2px;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .messages {
    .title {
      display: inline-block;
      margin-right: 6px;
    }
    .ant-badge-count {
      background-color: @blue-6;
    }
  }

  .buttons {
    text-align: right;
    @media (max-width: @screen-md) {
      text-align: left;
    }
    @media (max-width: @screen-sm) {
      text-align: right;
    }
  }

  .ant-tag {
    font-size: 90%;
  }

  @media (max-width: @screen-sm) {
    .status {
      text-align: right;
      .ant-tag {
        margin-right: 0;
        margin-bottom: 6px;
      }
    }
  }
}
