@import "../App";

.booking-page {
  width: 100%;
  padding: 1rem;
}

.booking-modal,
.booking-page {

  .prod-duration {
    display: inline-block;
    font-size: 120%;
    margin-left: 1rem;
  }

  .small-label {
    font-size: 14px;
  }

  .client-wrap {
    display: table;
    text-align: left;
    margin: 0 auto;
  }

  .address-info {
    padding: 6px 16px;
    background-color: @grey-3;
    font-size: 14px;
    border-radius: @border-radius-base;
    margin-top: 10px;
  }

  .payment {
    margin-top: 6px;
    font-size: 90%;
  }

  .buttons {
    margin-top: 1rem;
    padding: 0 10px ;
  }

  .messages-wrap {
    padding-bottom: 10px;
    max-height: 400px;
    overflow-y: scroll;
  }

  .price-currency {
    display: inline-block;
  }

  .amount {
    display: inline-block;
    font-size: 32px;
    font-family: 'Exo 2', times, serif;
    font-weight: 600;
    line-height: 1;
    padding: 0 2px;
  }

  .prod-duration {
    line-height: 1;
  }

  .prod-currency {
    font-weight: 600;
  }

  .col {
    margin-bottom: 1rem;
  }

  button {
    margin-top: 6px;
    margin-bottom: 6px;
  }
}
