@import "../../node_modules/antd/lib/style/themes/default.less";

.book-now-modal {
  .info-box {
    font-size: 20px;
    text-align: center;
    border: 1px solid @border-color-base;
    border-radius: @border-radius-base;
    margin-bottom: 6px;
  }

  .title {
    font-weight: bold;
  }

  .price {
  }

  .client {
  }

  .comment {
    padding-top: 10px;
    padding-bottom: 16px;
  }
  .previous-bookings {
    h4 {
      margin-top: 6px;
    }
    .ant-alert {
      margin-bottom: 6px;
    }
  }

  .previous-booking {
    h6 {
      text-transform: capitalize;
      margin-top: 1rem;
      margin-bottom: 0;
    }
  }

  .small-label {
    font-size: @font-size-base;
  }

  .explanation-icon {
    color: @info-color;
    margin-left: 10px;
  }

  .center-wrap {
    display: table;
    margin: 0 auto 6px auto;
    text-align: left;
    font-size: @font-size-lg;
  }

  .modal-pay-header {
    margin: 0 auto;
    display: table;
    font-size: 20px;
    text-align: center;

    .amount {
      font-family: 'Source Serif Pro', times, serif;
      font-size: 140%;
      margin-left: 6px;
      margin-right: 4px;
    }
  }

  transition: opacity 400ms ease-in-out;
}
