@import "../App";

.messages {
  textarea {
    overflow: hidden;
  }

  .button-hidden {
    opacity: 0;
    pointer-events: none;
    cursor: inherit;
  }

  .button-shown {
    opacity: 1;
    pointer-events: auto;
    cursor: pointer;
  }

  .send-button {
    position: absolute;
    top: 5px;
    right: 10px;
    transition: all 300ms ease-in-out;
  }

  .message-date {
    font-size: 11px;
  }

  .message {
    display: table;
    text-align: left;
    margin-top: 2px;
    margin-bottom: 6px;
    padding: 6px;
    border: 1px solid @blue-3;
    background-color: @blue-1;
    border-radius: 8px;

    &.to {
      background-color: @orange-1;
      border-color: @orange-3;
      margin-left: auto;
    }
  }

  i.anticon-plane:before {
    content: '2';
  }
}
