@import "../App.less";

.payment {

  .payment-progress {
    text-align: center;

    .ant-alert {
      margin-top: 1rem;
    }
  }

  .help {
    font-size: 12px !important;
    max-width: @screen-sm;
  }

  .booked {
    margin: 1rem auto;
    max-width: @screen-sm;

    .message {
      margin-bottom: 1rem;
    }

    button {
      width: 100%;
      margin-bottom: 16px;
    }
  }

  #card-wrapper {
    margin-top: 1rem;
    text-align: center;
    img {
      width: 100%;
      max-width: 410px;
    }
  }
}

.payment-form {
  width: 100%;
  margin: auto;
  @media (min-width: @screen-xs) {
    max-width: @screen-xs;
  }

  .last4 {
    font-family: monospace;
    font-weight: bold;
    font-size: 105%;
    letter-spacing: 1px;
    padding: 0 1rem;
    span {
      transform: translateY(2px);
      display: inline-block;
    }
  }

  .stripe-form {
    margin-top: 18px;
  }

  .stripe-input-wrap {
    padding-top: 12px;
  }
}

.payment-iframe {
  &.ant-modal {
    top: 7vh
  }
  iframe {
    width: 100%;
    height: 80vh;
  }
}

.book-now-modal {
  .footer {
    max-width: @screen-xs;
    width: 100%;
    margin: auto;
    button {
      width: 100%;
    }
  }
  .credit-card-menu {
    .ant-select-selection__clear {
      right: 34px;
      font-size: 16px;
      color: @red-6;
    }
  }
}
