@import "../node_modules/antd/lib/style/themes/default.less";

@grey-1: #fbfbfb;
@grey-2: #f7f7f7;
@grey-3: #f5f5f5;
@grey-4: #e9e9e9;
@grey-5: #d9d9d9;
@grey-6: #bfbfbf;
@grey-7: #919191;
@grey-light: #f3f5f7;
@grey-medium: #dbe1e6;
@grey-dark: #445360;
