.cookie-consent {
    position: fixed;
    bottom: 1rem;
    left: 2.5vw;
    width: 95vw;
    text-align: center;
    background-color: #333;
    color: #fff;
    padding-bottom: 1rem;
}

.cookie-consent .info,
.cookie-consent button {
    display: inline-block;
    margin: 1rem 1rem 0 1rem;
}
