@import "./App.less";

.date-time-picker {
  .ant-time-picker,
  .ant-dropdown-trigger,
  .ant-calendar-picker {
    width: 100%;
    margin-bottom: 6px;
  }
  .free-slots {
    display: block;
    width: 100%;
    text-align: center;
    border: 1px solid @border-color-base;
    margin-bottom: 1rem;
    border-radius: 3px;
    padding: 10px;
    .items {
      line-height: 28px;
      cursor: pointer;
    }
    .header {
      text-transform: uppercase;
      font-size: 11px;
      font-weight: 600;
    }
  }
}

.free-times .ant-dropdown-menu-item {
  text-align: center;
}
