@import "./App.less";

.infosplash {
  width: 500px;
  max-width: 90vw;
  padding: 1rem 2rem;
  text-align: center;
  background-color: @component-background;
  border-radius: @border-radius-base;
  box-shadow: 0 0 6px rgba(0,0,0,0.5);
  position: absolute;
  top: 30%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
  transition: all 400ms ease-out;

  @media (max-width: @screen-sm) {
    top: 45%;
    padding: 1rem 6px;
    max-width: 98vw;
  }

  &.hide {
    top: -70%;
  }

  .splash-body {
    text-align: left;
  }

  p, h1, h2 {
    margin-bottom: 1rem;
  }
}
