@import "../node_modules/antd/lib/style/themes/default.less";

.loading-container {
    width: 100%;
    height: 20vh;
    position: relative;

    .ant-spin {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

