@import "./App.less";

#app-container {
  height: 100%;
  position: relative;
  overflow-x: hidden;
  > div[data-reactroot] {
    height: 100% !important;
  }
}

.components-loading {
  z-index: 10;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.relative {
  position: relative;
}

.responsive {
  width: 100%;
}

.left {
  text-align: left;
}

.push-right {
  text-align: right;
}

.no-wrap {
  white-space: nowrap;
}

.avatar {
  height: 135px;
  width: 135px;
  border-radius: 50%;
  @media (  max-width: @screen-lg) {
    height: 110px;
    width: 110px;
  }
  @media (  max-width: @screen-md) {
    height: 90px;
    width: 90px;
  }
  @media (  max-width: @screen-xs) {
    height: 80px;
    width: 80px;
  }
}

.vertical-spacing {
  margin-bottom: 1rem;
}

.horizon-spacing {
  margin-right: 1rem;
}

.upper-case {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.fade {
  opacity: 0;
  pointer-events: none;
  transition: opacity 400ms ease-in-out;
  &.in {
    pointer-events: auto;
    opacity: 1;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.router {
  display: flex;
  flex-direction: column;
  .content-fill {
    flex: 1 1 auto;
  }
}

.content-fill {
  text-align: center;
  .ant-radio-group {
    display: block;
  }
  .ant-alert {
    margin: 2rem auto;
    max-width: @screen-sm;
  }
}

.landing.content-fill {
  height: 100%;
  margin-top: 0;
}

.content-width {
  max-width: @screen-lg;
  margin: 0 auto;
}

.content-width-medium {
  max-width: @screen-md;
  margin: 0 auto;
}

.content-width-small {
  max-width: @screen-sm;
  margin: 0 auto;
  text-align: left;
}

.content-pad {
  padding: 1rem;
  @media (max-width: @screen-xs) {
    padding: 1rem 6px;
    .ant-collapse-content {
      padding-left: 6px;
      padding-right: 6px;
    }
  }
}

.background-image {
  background-size: cover;
  background-position: center;
  width: 100%;
}

.info-box {
  display: block;
  width: 100%;
  min-height: 150px;
  text-align: center;
  border: 1px solid @border-color-base;
  box-shadow: 0 0 9px @border-color-base;
  margin-bottom: 1rem;
  border-radius: 3px;
  padding: 10px;

  &.status {
    padding-top: 2rem;
  }
}

.ant-input-suffix i,
.ant-calendar-picker-icon:after,
.ant-time-picker-icon:after,
.treatya-icon {
  color: @primary-color;
}

.bg-profile {
  position: relative;

  .bg {
    height: 250px;
    @media (max-width: @screen-sm) {
      height: 150px;
    }
  }
  .profile-frame {
    position: absolute;
    bottom: -20px;
    right: 20px;
    display: block;
  }
}

.profile-frame {
  border: 1px solid #555;
  display: table;
  .profile {
    width: 150px;
    height: 150px;
    border: 3px solid #fff;
    @media (max-width: @screen-sm) {
      height: 100px;
      width: 100px;
    }
  }
}

.router {
  height: 100%;
}

.hero {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  font-family: Asap, helvetica, arial, sans-serif;
}

.centered {
  margin: 0 auto;
  text-align: center;
}

.date-friendly {
  text-transform: capitalize;
}

@media (max-width: 700px) {
  .overlay {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .menu-pulldowns .push-right {
    text-align: left;
  }
}

.ant-alert {
  line-height: inherit;
  display: inline-block;
  &.ant-alert-info {
    background-color: @blue-1;
    border-color: @blue-2;
  }
}

.ant-form .ant-row button {
  width: 100%;
}

.ant-notification-notice,
.ant-popover-inner {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
}

.ant-calendar {
  width: inherit;
}

.ant-calendar-cell {
  padding: 8px 9px;
}

.ant-message-notice-content {
  padding: 8px 16px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.15);
  background: #f7f7f7;
  color: #404040;
}

.no-footer .ant-modal-footer {
  display: none;
}

.has-feedback .ant-select .ant-select-arrow {
  right: 28px;
}

.error-404 {
  margin: 1rem;
}

.ant-calendar-column-header {
  text-transform: capitalize;
}

.ant-tabs-nav .ant-tabs-tab {
  text-transform: uppercase;
}

.ant-dropdown-menu-item, .ant-dropdown-menu-submenu-title {
  font-size: @font-size-base + 1px;
  padding: 10px 15px;
}

.ant-alert {
  text-align: left;
}

.ant-form-item-label,
.ant-form-vertical .ant-form-item-label {
  padding-bottom: 1px;
}

.ant-btn-success {
  background-color: @green-3;
  border-color: @green-4;
}

.ant-btn-warning {
  background-color: @yellow-3;
  border-color: @yellow-4;
}

.ant-btn-danger {
  background-color: @red-4;
  border-color: @red-6;
  color: @component-background;
}

.ant-calendar-cell.ant-calendar-today.ant-calendar-disabled-cell {
  .ant-calendar-date {
    background-color: @grey-5;
    color: @grey-7;
    border-radius: @border-radius-base;
    &:before {
      border-width: 2px;
      width: 32px;
      left: -1px;
    }
  }
}

.has-success.has-feedback:after, .has-warning.has-feedback:after, .has-error.has-feedback:after, .is-validating.has-feedback:after {
  height: 44px !important;
  font-size: 20px !important;
}

@media (max-width: @screen-sm) {
  .ant-tabs-nav-container {
    font-size: 14px;
  }

  .ant-tabs-nav .ant-tabs-tab {
    padding: 8px 6px;
    margin-right: 6px;
  }

  .ant-notification {
    margin-right: 10px;
    max-width: 94vw;
  }

  .ant-table-thead > tr > th, .ant-table-tbody > tr > td {
    padding: 8px 4px !important;
  }
}
