@import "../App.less";

.review {
  max-width: @screen-lg;
  margin: 1rem auto;
  padding: 1rem;
  text-align: left;

  .table-wrap {
    display: table;
    text-align: left;
    margin: 0 auto;
  }

  table {
    td:first-child {
      font-size: 80%;
      font-weight: bold;
      text-align: right;
      padding-right: 6px;
    }
  }
}
