@import "../App";

.calendar {
  padding: 0 1rem;

  .action-button {
    position: absolute;
    bottom: 1rem;
    z-index: 10;

    &.bottom-right {
      right: 1rem;
    }
    &.bottom-left {
      left: 1rem;
    }

    button {
      height: 3rem;
      width: 3rem;
      border-radius: 50%;
      box-shadow: 1px 1px 6px #777;
      font-size: 120%;
    }
  }
}

.fc {
  .fc-event {
    min-height: 1rem;

    &.selected {
      box-shadow: inset 0 0 14px #4e4e4e, 0 0 4px #4e4e4e;
    }

    .fc-title {
      white-space: nowrap;
      font-size: 90%;
    }
    &.supplier {
      background-color: @green-4;
      border-color: @green-5;
      color: @text-color;
      .fc-event-dot {
        background-color: @green-4;
      }
    }
    &.client {
      background-color: @blue-4;
      border-color: @blue-5;
      color: @text-color;
      .fc-event-dot {
        background-color: @blue-4;
      }
    }
    &.timeslot {
      background-color: fadeout(@yellow-5, 70%);
      border-color: @yellow-5;
      color: @text-color;
      .fc-event-dot {
        background-color: @yellow-4;
      }
    }
  }

  .fc-list-item {
    &.supplier {
      .fc-event-dot {
        background-color: @green-4;
      }
    }
    &.client {
      .fc-event-dot {
        background-color: @blue-4;
      }
    }
    &.timeslot {
      .fc-event-dot {
        background-color: @yellow-4;
      }
    }
  }

  .fc-icon {
    height: 1.5em;
    line-height: 1.6em;
    &:after {
      top: 0;
      font-size: 1.4em;
    }
  }

  .fc-icon-question:after {
    font-family: anticon !important;
    content: "\E63B";
  }

  .fc-icon-left-single-arrow:after {
    font-family: anticon !important;
    content: "\E620";
  }

  .fc-icon-right-single-arrow:after {
    font-family: anticon !important;
    content: "\E61F";
  }

  .fc-button {
    &.fc-state-default {
      background-color: @component-background;
      background-image: none;
      border-radius: @border-radius-base;
      border: 1px solid @border-color-base;
      box-shadow: none;
      color: @text-color;
    }
    &.fc-state-active {
      background-color: @primary-2;
    }
  }

  @media (max-width: 400px) {
    .fc-toolbar.fc-header-toolbar {
      margin-bottom: 0;
    }

    button {
      font-size: 14px;
      padding: 0 4px;
    }
  }
}

