@import "../../node_modules/antd/lib/style/themes/default.less";

.account-menu {

  .first-name {
    display: inline-block;
    transform: translateY(-3px);
    margin-right: 2px;
  }

  button {
    background-color: @primary-2;
    border-color: @primary-7;
  }

  .account-button {
    padding-top: 6px;
    padding-right: 4px;
    position: relative;
  }

  .ant-dropdown-menu-item .anticon {
    margin-right: 6px;
  }
}

.account-button-badge {
  position: absolute;
  &.messages {
    top: -5px;
    right: 18px;
    .ant-badge-count {
      background-color: @blue-6;
    }
  }

  &.preliminary {
    top: 15px;
    right: -3px;
    .ant-badge-count {
      background-color: @orange-6;
    }
  }

  &.confirmed {
    top: -5px;
    right: -3px;
    .ant-badge-count {
      background-color: @cyan-6;
    }
  }
}

.warning {
  i {
    color: @red-7 !important;
  }
}
