@import "../App.less";

.browser-menu {
  &.have-result {
    padding: 1rem;
  }
  &.no-result {
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;

    .landing-text {
      text-align: center;
      margin: 0 auto 10px;
      display: block;
      text-transform: uppercase;
      color: @primary-color;
      /* text-shadow: 0 0 6px #666; */
      @media (max-width: 700px) {
        font-size: 120%;
      }
    }

    .menu {
      /*background-color: rgba(100, 100, 100, 0.4);*/
      padding: 10px 1rem 1rem 1rem;
      max-width: @screen-lg;
      width: 100vw;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      @media (min-width: @screen-lg) {
        bottom: 4vh;
      }
    }
  }

  .ant-time-picker,
  .ant-calendar-picker {
    width: 100%;
    margin-bottom: 4px;
  }

  .ant-calendar-picker-input::placeholder {
    color: @text-color;
  }

  .ant-select {
    width: 100%;
    margin-bottom: 4px;

    .ant-select-selection__placeholder {
      color: @text-color;
    }
  }
}

@media (min-width: 700px) {
  .landing .browser-menu {

    .ant-select-lg:not(.ant-select-auto-complete) .ant-select-selection__rendered {
      line-height: 42px;
      margin-left: 14px;
      margin-right: 14px;
    }
    .ant-input,
    .ant-time-picker-input,
    .ant-input-lg {
      padding-left: 12px;
      padding-right: 14px;
    }
    .ant-select-auto-complete {
      .ant-select-selection__placeholder {
        top: 22px;
        margin-left: 14px;
      }
    }
    .ant-input-preSuffix-wrapper .ant-input-suffix,
    .ant-time-picker-icon,
    .ant-calendar-picker-icon {
      right: 14px;
    }
  }
}

@media (max-width: 400px) {
  @widget-height: 36px;

  .landing .browser-menu {
    .menu {
      padding: 4px;
      .landing-text {
        margin-bottom: 4px;
        width: 80vw;
      }
    }
    .ant-select-selection--single {
      background-color: fade(@component-background, 60%);
      height: @widget-height !important;
    }
    .ant-select-lg:not(.ant-select-auto-complete) .ant-select-selection__rendered {
      background-color: transparent;
      line-height: 38px;
      margin-left: 14px;
      margin-right: 14px;
    }
    .ant-input,
    .ant-time-picker-input,
    .ant-input-lg {
      height: @widget-height !important;
      background-color: fade(@component-background, 70%);
      padding-left: 12px;
      padding-right: 14px;
    }
    .ant-select-auto-complete {
      height: @widget-height !important;
      input {
        background-color: transparent;
      }
      .ant-select-selection__placeholder {
        top: 18px;
        margin-left: 14px;
      }
    }
    .ant-input-preSuffix-wrapper .ant-input-suffix,
    .ant-time-picker-icon,
    .ant-calendar-picker-icon {
      right: 14px;
    }
    .ant-btn-lg {
      height: @widget-height !important;
    }
  }
}

.landing .browser-menu {
  .ant-select-selection--single {
    border: none;
  }
  .ant-select-lg:not(.ant-select-auto-complete) .ant-select-selection__rendered {
    border: none;
  }
  .ant-input,
  .ant-time-picker input,
  .ant-calendar-picker input {
    border: none;
  }
}
