@import "../App.less";

.service-type-menu {
  .ant-select-auto-complete.ant-select .ant-select-selection--single {
    height: 44px; /* Fix height issue on some Macs */
  }

  .show {
    height: auto;
  }

  .hide {
    height: 0;
    overflow: hidden;
  }

  transition: all 300ms ease-in-out;

}

.ant-select-dropdown-menu-item-group-title {
  font-weight: bold;
  font-size: 85%;
  text-transform: uppercase;
}
