@import "../../node_modules/antd/lib/style/themes/default.less";

.site-menu {
  position: relative;

  &.login .topbar button {
    margin: 12px 6px 6px 6px;
  }
}

.topbar {
  padding: 0 6px;
  background-color: @primary-color;
  color: @body-background;
  width: 100%;
  height: 56px;
  display: block;
  z-index: 2;

  &.apple-fullscreen {
    height: 74px;
  }

  a {
    color: @component-background;
    font-weight: bold;
    display: block;

    &.login {
      padding-top: 5px;
    }
  }

  @media (max-width: 480px) {
    padding-left: 0;
  }
  .top-pad {
    padding-top: 10px;
  }

  .site-branding {
    display: block;
    position: relative;
    text-align: center;
    width: 100%;
    height: 10px;

    .logo {
      display: inline-block;
      position: relative;
      cursor: pointer;
      i {
        position: absolute;
        transform: translate(-50%, -30px);

        /* Logo can't overlap content */
        &:before {
          height: 70px;
          overflow: hidden;
          content: '1';
        }
      }
    }
  }

  button {
    margin-right: 6px;
  }
}

.landing .topbar {
  background-color: transparent;
  color: @primary-color;
  position: absolute;
  width: 100%;
  display: block;
  z-index: 2;
  text-shadow: 0 0 12px rgba(255, 255, 255, 0.7);
  a {
    color: @primary-color;
  }
  .logo i {
    color: @component-background;
    text-shadow: none;
  }

  button {
    background-color: @primary-color;
    color: @component-background;
    font-weight: bold;
    border: none;
    margin-right: 0;

    &:hover {
      background-color: @primary-7;
    }
  }
}

.hamburger {
  display: inline-block;
  margin-right: 1rem;
  padding: 16px 6px;

  img {
    margin-top: 2px;
    margin-bottom: -2px;
  }

  .anticon-hamburger:before {
    content: "0";
  }

  .anticon:before {
    display: block;
    font-family: "anticon" !important;
  }
}

.account-menu {
  display: inline-block;
}

.sidebar {
  width: 240px;
  height: 100vh;
  top: 0;
  left: -240px;
  position: absolute;
  transition: all 300ms cubic-bezier(0.78, 0.14, 0.15, 0.86);
  z-index: 1000;
  background-color: #555;
  box-shadow: 0 0 10px #333;

  &.apple-fullscreen ul.ant-menu-root {
    padding-top: 20px;
  }

  i.anticon-close {
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

.supplier-splash {
}
