html, body {
    height: 100%;
}

body {
    font-family: 'Noto Sans', helvetica, arial, sans-serif;
}

.window {
    height: 100%;
    position: relative;
    font-size: 18px;
}

.box {
    display: table;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    color: #b00843;
    text-align: center;
    border-radius: 6px;
    padding: 2rem;
    background-color: #fff;
}

.inner {
    display: inline-block;
}

button {
    display: block;
    background-color: #56c8be;
    color: #fff;
    font-weight: bold;
    margin: 2rem auto 0;
    border-radius: 6px;
    border: none;
    font-size: 18px;
    padding: 1rem 2rem;
}
